<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ylt.main.mapper.CompanyMapper" >
  <resultMap id="BaseResultMap" type="com.ylt.main.pojo.Company" >
    <id column="ccid" property="ccid" jdbcType="INTEGER" />
    <result column="cname" property="cname" jdbcType="VARCHAR" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
    <result column="cperson" property="cperson" jdbcType="VARCHAR" />
    <result column="cphone" property="cphone" jdbcType="VARCHAR" />
    <result column="cemail" property="cemail" jdbcType="VARCHAR" />
    <result column="cwork" property="cwork" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ccid, cname, cid, cperson, cphone, cemail, cwork
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ylt.main.pojo.CompanyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from company
    where ccid = #{ccid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from company
    where ccid = #{ccid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ylt.main.pojo.CompanyExample" >
    delete from company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ylt.main.pojo.Company" >
    insert into company (ccid, cname, cid, 
      cperson, cphone, cemail, 
      cwork)
    values (#{ccid,jdbcType=INTEGER}, #{cname,jdbcType=VARCHAR}, #{cid,jdbcType=INTEGER}, 
      #{cperson,jdbcType=VARCHAR}, #{cphone,jdbcType=VARCHAR}, #{cemail,jdbcType=VARCHAR}, 
      #{cwork,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ylt.main.pojo.Company" >
    insert into company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ccid != null" >
        ccid,
      </if>
      <if test="cname != null" >
        cname,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="cperson != null" >
        cperson,
      </if>
      <if test="cphone != null" >
        cphone,
      </if>
      <if test="cemail != null" >
        cemail,
      </if>
      <if test="cwork != null" >
        cwork,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ccid != null" >
        #{ccid,jdbcType=INTEGER},
      </if>
      <if test="cname != null" >
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="cperson != null" >
        #{cperson,jdbcType=VARCHAR},
      </if>
      <if test="cphone != null" >
        #{cphone,jdbcType=VARCHAR},
      </if>
      <if test="cemail != null" >
        #{cemail,jdbcType=VARCHAR},
      </if>
      <if test="cwork != null" >
        #{cwork,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ylt.main.pojo.CompanyExample" resultType="java.lang.Integer" >
    select count(*) from company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update company
    <set >
      <if test="record.ccid != null" >
        ccid = #{record.ccid,jdbcType=INTEGER},
      </if>
      <if test="record.cname != null" >
        cname = #{record.cname,jdbcType=VARCHAR},
      </if>
      <if test="record.cid != null" >
        cid = #{record.cid,jdbcType=INTEGER},
      </if>
      <if test="record.cperson != null" >
        cperson = #{record.cperson,jdbcType=VARCHAR},
      </if>
      <if test="record.cphone != null" >
        cphone = #{record.cphone,jdbcType=VARCHAR},
      </if>
      <if test="record.cemail != null" >
        cemail = #{record.cemail,jdbcType=VARCHAR},
      </if>
      <if test="record.cwork != null" >
        cwork = #{record.cwork,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update company
    set ccid = #{record.ccid,jdbcType=INTEGER},
      cname = #{record.cname,jdbcType=VARCHAR},
      cid = #{record.cid,jdbcType=INTEGER},
      cperson = #{record.cperson,jdbcType=VARCHAR},
      cphone = #{record.cphone,jdbcType=VARCHAR},
      cemail = #{record.cemail,jdbcType=VARCHAR},
      cwork = #{record.cwork,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ylt.main.pojo.Company" >
    update company
    <set >
      <if test="cname != null" >
        cname = #{cname,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="cperson != null" >
        cperson = #{cperson,jdbcType=VARCHAR},
      </if>
      <if test="cphone != null" >
        cphone = #{cphone,jdbcType=VARCHAR},
      </if>
      <if test="cemail != null" >
        cemail = #{cemail,jdbcType=VARCHAR},
      </if>
      <if test="cwork != null" >
        cwork = #{cwork,jdbcType=VARCHAR},
      </if>
    </set>
    where ccid = #{ccid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ylt.main.pojo.Company" >
    update company
    set cname = #{cname,jdbcType=VARCHAR},
      cid = #{cid,jdbcType=INTEGER},
      cperson = #{cperson,jdbcType=VARCHAR},
      cphone = #{cphone,jdbcType=VARCHAR},
      cemail = #{cemail,jdbcType=VARCHAR},
      cwork = #{cwork,jdbcType=VARCHAR}
    where ccid = #{ccid,jdbcType=INTEGER}
  </update>
  <select id="getUserList" resultType="company" parameterType="company">
  <bind name="cname" value="'%'+_parameter.cname+'%'"/>
  	select c.*,x.xingzhi from company c,xingzhi x 
  	where  c.cid=x.cid and c.cname like #{cname}
  </select>
  
  <sql id="mohu" >
 	 <if test="cname!=null">
  	   and c.cname like #{cname}
  	   </if>
  </sql>
  
<select id="getXq" parameterType="company" resultType="person" >
 <bind name="pname" value="'%'+_parameter.pname+'%'"/>
		SELECT p.* from company c ,person p
WHERE c.ccid=p.ccid and p.ccid=#{ccid} and p.pname like #{pname}
</select>

<select id="getCount" resultType="int" parameterType="int">
	SELECT count(*) from company c ,person p
WHERE c.ccid=p.ccid and p.ccid=${value}
</select>

<select id="toUpdate" resultType="company" parameterType="company">
	SELECT c.*
from company c 
WHERE c.ccid=#{ccid}
</select>
<select id="getXingZhi" resultType="xingZhi">
	select * from xingzhi
</select>
<update id="update" parameterType="company" >
	UPDATE company  SET cname=#{cname},cid=#{cid},cperson=#{cperson},cphone=#{cphone} where ccid=#{ccid}
</update>
<select id="getHangYe" resultType="HangYe" >
select * from hangye
</select>
</mapper>